
.bg-welcome{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 400px 600px 400px;
    border-color: transparent transparent #222 transparent;
}

.font-bebas{
    font-family: 'Bebas Neue', cursive;
}

.content-height{
    min-height: 75vh;
}

html, body { height: 100%; width: 100%; margin: 0; }
